<!DOCTYPE html>
<html >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Thanks</title>
    <meta name="description" content="Contact me">
    <meta name="viewport" content="width=device-width">

    <link rel="icon" href="../../static/img/favicon.ico" type="image/x-icon">

    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css">


    <!-- Font-Awesome -->
    <link rel="stylesheet" href="../../static/css/font-awesome/css/font-awesome.min.css">

    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic' rel='stylesheet' type='text/css'>

    <!-- Styles -->
  <link rel="stylesheet" href="../../static/css/style.css" id="theme-styles">

    <!--[if lt IE 9]>
    <script src="../../static/js/respond.js"></script>
    <![endif]-->

</head>
<body>
    <header>
        <div class="widewrapper masthead">
            <div class="container">
               <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-4">
                         <a href="{%url 'news:index' %}" id="logo">
                             <img src="../../static/img/logo.png" alt="clean Blog">
                         </a>
                        </div>
                        <div class="col-md-8">
                        <a href="{%url 'news:index' %}" id="name">
                             <img src="../../static/img/name.png" alt="clean Blog">
                         </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <nav class="pull-right clean-nav">
                        <div class="collapse navbar-collapse">
                            <ul class="nav nav-pills navbar-nav">
                            <li>
                                <a href="#1">关于</a>
                            </li>
                            <li>
                                <a href="{%url 'news:contact' %}">联系我们</a>
                            </li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <div id="mobile-nav-toggle" class="pull-right">
                    <a href="#" data-toggle="collapse" data-target=".clean-nav .navbar-collapse">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>

                <nav class="pull-right clean-nav">
                    <div class="collapse navbar-collapse">
                        <ul class="nav nav-pills navbar-nav">

                             <li>
                                <a href="{%url 'news:index' %}">首页</a>
                            </li>
                             <li>
                                <a href="{%url 'news:about' %}">排行榜</a>
                            </li>
                            <li>
                                <a href="{%url 'news:school' %}">校园</a>
                            </li>
                            <li>
                                <a href="{%url 'news:middle_test' %}">中考</a>
                            </li>
                            <li>
                                <a href="{%url 'news:high_test' %}">高考</a>
                            </li>
                            <li>
                                <a href="{%url 'news:college_test' %}">考研</a>
                            </li>
                            <li>
                                <a href="{%url 'news:government' %}">公务员</a>
                            </li>
                            <li>
                                <a href="{%url 'news:english' %}">英语</a>
                            </li>
                             <li>
                                <a href="{%url 'news:abroad' %}">留学</a>
                            </li>
                             <li>
                                <a href="{%url 'news:international' %}">国际学校</a>
                            </li>
                             <li>
                                <a href="{%url 'news:MBA' %}">商学院</a>
                            </li>
                             <li>
                                <a href="{%url 'news:immigrant' %}">移民</a>
                            </li>
                        </ul>
                    </div>
                </nav>

            </div>
        </div>

        <div class="widewrapper subheader">
            <div class="container">
                <div class="clean-breadcrumb">
                    <a href="{%url 'news:contact' %}">Contact me</a>
                     <span class="separator">&#x2F;</span>
                     <a href="">thanks</a>
                </div>
                <div class="clean-searchbox">
                    <form action="/search/" method="get" accept-charset="utf-8">

                          &emsp;&emsp;&emsp;&emsp;
                        <a href="{%url 'search' %}"><button class="searchbutton" type="submit">
                            ...搜索新闻<i class="fa fa-search"></i>
                        </button></a>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 clean-superblock" id="contact" >
                    <br>
                    <h3 class="text-danger text-center">你的消息已发送成功！</h3>
                    <h3 class="text-danger text-center">感谢您的来信！我们会尽快回复您！</h3>
                    <br>
                    <img src="../../static/img/thanks.jpg" >
                </div>
            </div>
        </div>
    </div>

   <footer>
        <div class="widewrapper footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-user"></i><a name="1">About</a></h3>

                       <p>This is a site which can collote education news from other websites</p>
                       <p>This is a site which can collote education news from other websites</p>
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-pencil"></i> Recent News</h3>
                        <ul class="clean-list">
                           {% for news in Newses3 %}
                                <li><a href="{%url 'news:news_page' news.news_id%}">{{news.title}}</a><span class="badge">{{news.num_click}}</span></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="col-md-4 footer-widget">
                        <h3> <i class="fa fa-envelope"></i><a href="contact.html">Contact Me</a></h3>

                        <p>If you have any problem, you can contact me.</p>
                        <p>You can send message to me!</p>
                         <div class="footer-widget-icon">
                            <i class="fa fa-wechat"></i><i class="fa fa-weibo"></i><i class="fa fa-qq"></i>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="widewrapper copyright">
                 Copyright 2017 . developed by liulu .
        </div>
    </footer>

    <script src="../../static/js/jquery.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/modernizr.js"></script>

</body>
</html>